<launch>
  <arg name="dataset_name" value="RealSenseIR"/>

  <!-- allow for different sensor calibrations -->
  <arg name="sensor_config_path" default="$(find kimera_vio)/params"/>
  <arg name="sensor_config_name" default="$(arg dataset_name)"/>
  <arg name="sensor_folder" value="$(arg sensor_config_path)/$(arg sensor_config_name)"/>

  <arg name="online" default="true" />
  <arg name="do_coarse_temporal_sync" default="false"/>
  <arg name="do_fine_temporal_sync" default="false"/>

  <arg name="log_output" default="true"/>
  <arg name="log_output_path"
       default="$(find kimera_vio_ros)/output_logs/"
       if="$(arg log_output)"/>
  <arg name="log_gt_data" default="false"/>
  <arg name="gt_topic" default=""/>
  <!-- Set use_sim_time to true if you use rosbag with clock argument -->
  <arg name="should_use_sim_time" default="false"/>

  <!-- Only used when parsing a rosbag -->
  <arg name="rosbag_path" default="default.bag"
       unless="$(arg online)"/>

  <!-- Frame IDs. These DO NOT match frame id's on the video streams, as the
	RealSense and Kimera publish conflicting Tf's -->
  <arg name="odom_frame_id"      value="odom"/>
  <arg name="base_link_frame_id" value="base_link"/>
  <arg name="map_frame_id"       value="map"/>
  <arg name="left_cam_frame_id"  value="camera_infra1_optical_frame"/>
  <arg name="right_cam_frame_id" value="camera_infra2_optical_frame"/>

  <!-- Subscribed Topics -->
  <arg name="left_cam_topic"  value="/camera/infra1/image_rect_raw"/>
  <arg name="right_cam_topic" value="/camera/infra2/image_rect_raw"/>
  <arg name="imu_topic"       value="/camera/imu"/>

  <!-- Launch actual pipeline -->
  <include file="$(find kimera_vio_ros)/launch/kimera_vio_ros.launch"
           pass_all_args="true"/>

 <!-- Launch static TF node from base_link to velo_link -->
 <!-- <node pkg="tf" type="static_transform_publisher" name="velo_link_broadcaster"
   args="0 0 0 0.5 -0.5  0.5  -0.5 base_link base_link_opt 100"/> -->
 <!-- <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster"
   args="0 0 0 0 0 0 1 map odom 100"/> -->
  <!--Tracking IMU to Tracking Camera tf -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="cam_opt_to_cam_link"
    args="0.0 -0.0 0.0 0.5 -0.5 0.5 0.5 camera_infra1_optical_frame camera_link 10"/> -->

  <!-- <node pkg="tf" type="static_transform_publisher" name="imu_to_left_cam"
    args="-0.00125374 -0.01345573 -0.01540152 0.00124513 -0.00137293 -0.00179475  0.99999667 base_link camera_infra1_optical_frame 10"/> -->

  <arg name="use_rviz"     default="true"/>
  <!-- <group if="$(arg use_rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find kimera_semantics_ros)/rviz/kimera_realsense_metric_custom.rviz" />
  </group> -->
  <include file="$(find kimera_semantics_ros)/launch/kimera_metric_realsense.launch" pass_all_args="true"/>
</launch>
